$fontColorLight:rgba(96, 96, 96, 1);
$colorAttention:rgba(194, 75, 75, 1);
$fontColorTitleH2: rgba(158, 154, 155, 1);
$fontColorTitleH1:rgba(29, 10, 10, 1);
$fontColorDesc:rgba(19, 19, 19, 1);
$fontColorDesc2:rgba(39, 39, 39, 1);
$backgroundColorDark:rgba(247, 247, 247, 1);
$backgroundColorLight:rgba(255, 255, 255, 1);
$widthXS:770px;